name: check-package-licenses.yml

on:
  workflow_call: 
    inputs:
      dotnet-version:
        type: string
        required: false
        default: '9.0.x'
      solution-path:
        type: string
        required: true

jobs:
  build:
    runs-on: 'ubuntu-latest'
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v4
  
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ inputs.dotnet-version }}

      - name: Add internal nuget source
        run: dotnet nuget add source 'https://nuget.pkg.github.com/ZoneRv/index.json' -n 'Zone Github' -u ${{ vars.OWNER_USERNAME}} -p ${{ secrets.GIT_PACKAGE_API_KEY }} --store-password-in-clear-text
        
      - name: Restore Dotnet
        run: dotnet restore
        
      - name: Install nuget-license
        run: dotnet tool install --global nuget-license
      
      - name: Prepare allowed license config files
        shell: bash
        run: |
          cat > ./allowed-licenses.json <<'EOF'
          [
            "MIT",
            "Apache-2.0",
            "BSD-2-Clause",
            "BSD-3-Clause",
            "GPL-2.0-only WITH Universal-FOSS-exception-1.0",
            "Unlicense"
          ]
          EOF
          
        # hangfire have a licensing tier and a private nuget server
        # Any other package is either ours, limited to microsoft ownership only, or the license is set up incorrectly and i checked and it was fine at the time of adding it.
      - name: Prepare ignored package config files
        shell: bash
        run: |
          cat > ./ignored-packages.json <<'EOF'
          [
            "ZoneRV.*",
            "Microsoft.*",
            "System.*",
            "*.runtime.native.System.Security.Cryptography.OpenSsl",
            "*.runtime.native.System.Security.Cryptography.Apple",
            "runtime*",
            "Bogus",
            "AutoBogus",
            "Hangfire.*",
            "Serilog.Enrichers.Context",
            "Serilog.Sinks.AzureLogAnalytics",
            "Fractions",
            "xunit.abstractions",
            "K4os.*",
            "NETStandard.Library"
          ]
          EOF
            
      - name: Run nuget-license
        run: nuget-license -t -i ${{ inputs.solution-path }} -a ./allowed-licenses.json -ignore ./ignored-packages.json -o Markdown | tee license-report.md      
      
      - name: Add report to job summary
        shell: bash
        run: |
          {
          echo "## NuGet license report"
          echo
          cat license-report.md
          } >> "$GITHUB_STEP_SUMMARY"

      - name: Fail if Error column present
        shell: bash
        run: |
          if grep -Eqi '\|[[:space:]]*Error[[:space:]]*\|' license-report.md; then
            echo "Detected disallowed license types in report."
            exit 1
          fi

      - name: Upload license report artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: license-report
          path: license-report.md
